@font-face {
    font-family: "space";
    src: url('../fonts/SpaceMono-Bold.ttf');
}

*{
    font-family: 'space';
   
}

body{
    background-color: var(--main-color);
    color: var(--Grey-400);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 0.8rem;
    flex-direction: column;
    font-weight: var(--fw-700);
    font-size: var(--fs-base);
}

input {
    font: inherit;
    font-size: var(--fs-input);
}

:root{
    --primary-color: hsl(172, 67%, 45%);
    --main-color:  hsl(185, 41%, 84%);
    --white-color: hsl(0, 100%, 100%);
    --grass-color: hsl(183, 100%, 15%);
    --greenLight-color: hsl(186, 14%, 43%);
    --Grey-400: hsl(184, 14%, 56%);
    --Grey-50: hsl(189, 47%, 97%);

    --fw-700: 700;
    --fs-input: 1.5rem;
    --fs-base: 1rem;
}