.container{
    display: flex;
    background-color: var(--white-color);
    border-radius: 12px;
    gap: 2rem;
    justify-content: center;
    margin-left: 20rem;
    padding: 0rem 0rem 0rem 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:1rem 0rem 0rem 1rem;
}

.bill{
    max-width: 300px;
    font-size: 0.6rem;
}

.tab{
    background-color: var(--main-color);
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 0.8rem;
    width: 360px;
    height: 40px;
    text-align: right;
    border-radius: 6px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--white-color);
}

.tab:hover{
    transition: 250ms;
    border-color: var(--grass-color);

}

.select{
    font-size: 0.6rem;
}

.numbers{
    font-size: 1rem;
    justify-content: space-between;
    
    }

#people-calc.error-active {
    border-color:  rgb(185, 122, 39);
    justify-content: space-between;
}

.err{
    display: flex;
    justify-content: space-between;
    }

.error{
    color: rgb(185, 122, 39);
    margin: 0;
}

label :placeholder-shown{
    font-size: 1.4rem;
    padding-right: 1rem;
}

/* //PAROU AQUI, PADDING DO PLACEHOLDER */

.percent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
}

.percent button{
    width: 120px;
    background-color: var(--grass-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 8px;
    font-family: 'space';
    border-radius: 10px;
    border-style: solid;
    border-color: var(--white-color);
}

.percent button:hover{
    background-color: var(--main-color);
    transition: 250ms;
    color: var(--grass-color);
    border-color: var(--primary-color);
}

.tab2{
    background-color: var(--main-color);
    background-image: url('../images/icon-person.svg');
    width: 350px;
    height: 40px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 0.8rem;
    padding-left: 1rem;
    cursor: pointer;
    text-align: right;
    border-style: solid;
    border-color: var(--white-color);
}

.tab2:hover{
    transition: 250ms;
    border-color: var(--grass-color);
}

.calc{
    align-items: initial;
    background-color: var(--grass-color);
    padding: 2.2rem;
    margin: 2rem 2rem 2rem 0rem;
    border-radius: 12px;
    max-width: 350px;
    
}

.sec-content{
       align-items: initial;
}

.first-calc{
    display: flex;
    justify-content: space-between;
    
}

.sub-first-calc{
    display: flex;
    padding: -1rem;
    flex-direction: column;
}

.sub-first-calc p{
    margin: 0.2rem;
}

.tip-amount{
    color: var(--white-color);
    font-size: 1rem;
}

.total{
    color: var(--white-color);
    font-size: 1rem;;
}

.second-calc{
    display: flex;
    justify-content: space-between;
}

.sub-second-calc{
    display: flex;
    padding: -1rem;
    flex-direction: column;
}

.second-calc p{
    margin: 0.2rem;
}

.custom-calc{
     width: 100px;
    background-color: var(--main-color);
    transition: 250ms;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 8px;
    font-family: 'space';
    border-radius: 10px;
    border-style: solid;
    border-color: var(--white-color);
    text-align: right;
}

.custom-calc:hover{
    background-color: var(--white-color);
    transition: 250ms;
    color: var(--grass-color);
    border-color: var(--primary-color);
    border-style: solid;
}

.nu,.nu2{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
    transition: none;
    text-align: right;
    max-width: 143px;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0.2rem;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 7rem 0rem 0rem 0rem;
}

.reset-btn{
    color: var(--grass-color);
    display: flex;
    width: 400px;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    border-color: var(--grass-color);
    border-style: solid;
}

.reset-btn:hover{
    background-color:var(--main-color);
    transition: 250ms;
}